<div class="header clearfix">
  <nav>
    <a class="header_title" href="/">
      <img class="header_logo" src="/assets/circles_logo.png" alt="Bond Street logo" " height="36">
      <img src="/assets/bond_street.png" alt="Bond Street logo" width="164" height="16">
    </a>
    <ul class="nav nav-pills float-right">
      <span class="nav-item dropdown">
        <span id="dropdownMenu" data-toggle="dropdown">
          <span class="hamburger"></span>
        </span>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
          <% if @current_user %>
            <% @step_sequence.steps.each do |step| %>
              <% if step.reachable? %>
                <%= link_to step.name, step, class: 'dropdown-item' %>
              <% else %>
                <%= content_tag :div, step.name, class: 'dropdown-item disabled' %>
              <% end =%>
            <% end =%>
            <div role="separator" class="dropdown-divider"></div>
            <%= link_to "Logout", logout_path, class: "dropdown-item", method: "delete" %>
          <% else %>
            <a class="dropdown-item" href="/login">Login</a>
            <a class="dropdown-item" href="/signup">Signup</a>
          <% end %>
        </div>
      </span>
    </ul>
  </nav>
</div>