<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <span class="dropdown">
                <a id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="hamburger"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                  <li><a href="/logout">Step 1</a></li>
                  <li><a href="/login">Step 2</a></li>
                  <li><a href="/signup">Step 3</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/logout">Logout</a></li>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/signup">Signup</a></li>
                </ul>
              </span>
            </li>
          </ul>
        </nav>
        <span>Bond Street</span>
      </div>
      <div class="jumbotron">
        <%= yield %>
      </div>
      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>
    </div>
    <!-- /container -->
    <%= javascript_include_tag 'application' %>
  </body>
</html>